# Directories
.local/
.manifests/
node_modules
.terraform/

# Files
.DS_Store

# Absolute directories
/.manifests/
/.theia/
/.vscode/
/acm/
/bank-of-anthos/
/bin/
/bmctl-workspace/
/conf/
/keys/
/kubeconfig/
/logs/
/ssh/
/terraform/admin_clusters/scripts/
/tmp/

# Absolute files
/scripts/host.sh
/scripts/vars*.sh

# Python
__pycache__
*.pyc

# Terraform files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
tfplan
